PORT=4000

DATABASE_URL=postgresql://postgres:postgres@localhost:5442/agentic_calendar_app_db

APP_URL=http://localhost:3000

DESCOPE_PROJECT_ID=
DESCOPE_MANAGEMENT_KEY=



DESCOPE_CALENDAR_CONNECTION_ID=google-calendar


OPENAI_API_KEY=
GOOGLE_GEMINI_API_KEY=




SERVER_URL=
DESCOPE_MCP_SERVER_WELL_KNOWN_URL=